@font-face {
    font-family: Quattrocento;
    src: url('./assets/fonts/Quattrocento-Regular.ttf');
}

@font-face {
    font-family: Quattrocento-Sans;
    src: url('./assets/fonts/QuattrocentoSans-Regular.ttf');
}

body {
    margin: 0;
}